
.bar{
	fill:steelblue;
}

.bar:hover{
	fill: brown;
}

.line{
	stoke-width: 2;
	fill: none;
}

.line:hover{
	stroke:brown;
}

.close {
	stroke: green;
}

.movingAvg {
	stroke: red;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path{

}

.error {
	background-color: gray;
	color: red;
}